body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 300px;
}

label {
    display: block; 
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    display: block; 
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    margin-top: 15px;
    color : white;
    background-color: brown;
}

p {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
