<style>
body {
  background-color: pink !important;

display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}

.main-container {
width: 1000px;
background-color: #fafafa;
border-radius: 15px;
display: flex;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.left-panel {
width: 30%;
color:white;
 background-color: Teal ;
border-radius: 15px 0 0 15px;
display: flex;
flex-direction: column;
padding-bottom: 20px;
}

.photo-panel {
  width: 100%;   
  overflow: hidden;  
}

.photo-panel img {
  width: 100%; 
  height: auto; 
  object-fit: cover;
  display: block;
  border-radius: 15px 0 0 0;
}


.text-content {
padding: 20px;
}
.text-content h2 {
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.text-content img {
  width: 100%; 
  height: auto;  
  object-fit: cover
  display: block;
  border-radius: 15px 0 0 0;
}


.right-panel {
width: 70%;
padding: 20px;
box-sizing: border-box;
}



.section {
margin-bottom: 30px;
}

.section-title {
font-size: 22px;
border-bottom: 2px solid #ccc;
margin-bottom: 10px;
padding-bottom: 5px;
}


.education {
  margin: 40px 0;
}

.timeline-item {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 20px;
}

.year {
  color: DarkSlateGray;
  width: 120px; 
  font-weight: bold;
}

.description {
  flex: 1; 
}


.skills {
  margin: 40px 0;
}

.tag {
  display: inline-b;
  background-color: #f4f4f4;
  color: DarkSlateGray;
  padding: 5px 10px;
  border-radius: 12px;
  margin: 5px 5px 0 0;
  font-size: 14px;
}

.hw-lab-container{
  display:flex;   
  gap: 20px;         
  margin-top: 10px;
  width: 100%;
  flex-wrap: nowrap; 
}


.hw-column, .lab-column {
  flex: 1;  
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box; 
  min-width: 0; /
}

.hw-column a, .lab-column a {
text-decoration: none;
}
.music-row {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.music-item {
  flex: 1;
  min-width: 120px;
  text-align: center; 
}

.music-item a {
  display: inline-block;
  text-decoration: none;
}

.music-item img {
  width: 60%;
  height: auto;  
  object-fit: cover;
  border-radius




</style>
